.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #FFF5EB;
}

.navbar-custom {
  background-color: #FFF5EB;
}

.btn-primary {
  background-color: #B2B8A3;
  border: #B2B8A3;
  margin: 10px;
}

.btn-primary:hover {
  background-color: #F4C7AB;
}

.imgcontainer {
 text-align: center;
}

.main-stuff {
  margin-top: 75px;
}

.bg-light {
  background-color: #DEEDF0;
}

.journal-list {
  padding: 10px;
  margin: 5px;
}

.journal-entry {
  text-align: center;
}

.journal-image {
  /* box-sizing: border-box; */
  border-radius: 100%;
  width: 144px;
  height: 144px;
  left: 428px;
  /* top: 680px; */
  text-align: center;
  background-color: rgba(222, 237, 240, 0.5);
  border: 1px solid rgb(222, 237, 240);
  font-weight: bold;
  font-size: x-large;
  display: table-cell;
  vertical-align: middle;
}

.journal-image p:hover {
  text-align: center;
  color: rgba(178, 184, 163, 0.5);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #FFF5EB;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #FFF5EB;
  border-top: 1px solid #FFF5EB;
}

.modal-body p {
  word-wrap: break-word;
}